<div class="component" style="text-align:center">
  <h2>Lista de Productos</h2>

  <table>
    <tr>
      <th>SKU</th>
      <th>Nombre</th>
      <th>Medida</th>
      <th>Precio</th>
      <th></th>
    </tr>
    <tr *ngFor="let producto of productos">
      <td> {{producto.sku}}</td>
      <td> {{producto.nombre}}</td>
      <td> {{producto.unidadMedida}}</td>
      <td> {{producto.precio}}</td>
      <td><button [routerLink]="['/productos/menu/cantidad', producto.id]" routerLinkActive="router-link-active">Añadir al carrito</button> </td>
    </tr>
  </table>
  <br>
  <br>
  
  <button [routerLink]="['/productos/menu']" routerLinkActive="router-link-active">Volver</button>
</div>