<div style="text-align:center">
  <h2>Menu de Productos</h2>
  <ul>
    <li>
      <button [routerLink]="['/productos/menu/agregar']" routerLinkActive="router-link-active"> Agregar</button>
    </li>
    <br>
    <li>
        <button [routerLink]="['/productos/menu/consultar']" routerLinkActive="router-link-active">Productos</button>
    </li>
    <br>
    <li>
      <button [routerLink]="['/productos/menu/comprar']" routerLinkActive="router-link-active">Carrito de Compras</button>
    </li>
    <br>
    <li>
      <button [routerLink]="['/productos/menu/factura']" routerLinkActive="router-link-active">Generar Factura</button>
    </li>
    <br>
    <!--<li>
      <button [routerLink]="['/productos/menu/eliminar']" routerLinkActive="router-link-active">Eliminar Producto</button>
    </li>
    <br>    
    <li>
        <button [routerLink]="['/productos/menu/actualizar']" routerLinkActive="router-link-active">Actualizar Productos</button>
    </li>-->
  </ul>
</div>
<router-outlet></router-outlet>

